@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
.font-family-karla {
    font-family: karla;
}
.bg-sidebar {
    background-color: #3d5168;
}
.bg-navbar {
    background-color: #3d5168;
}
.cta-btn {
    color: #3d5168;
}
.active-nav-link {
    background-color: #7b8295;
}
.nav-item:hover {
    background-color: #7b8295;
}
.account-link:hover {
    background-color: #3d5168;
}
.gradient {
    background: linear-gradient(90deg, #3d5168 0%, #918e8c 100%);
}
.bg-landing {
    background: #f8fafc;
}
