@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
.font-family-karla {
    font-family: karla;
}
.bg-sidebar {
    background-color: #253f5b;
}
.bg-navbar {
    background-color: #253f5b;
}
.cta-btn {
    color: #253f5b;
}
.active-nav-link {
    background-color: #7b8295;
}
.nav-item:hover {
    background-color: #7b8295;
}
.account-link:hover {
    background-color: #253f5b;
}
.gradient {
    background: linear-gradient(90deg, #253f5b 0%, #4f728e 100%);
}
.bg-landing {
    background: #f8fafc;
}

.custom-section {
    position: relative;
    z-index: 1;
}
